*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/
/private_key.pepk
/.artifacts/
/.antigravityrules
/.antigravity
/APP_FEATURES.md
/BUG_ANALYSIS.md
/api-1.json
